#
# {{ ansible_managed }}
#
[libdefaults]
	default_realm = {{ kerberos_realm }}
	dns_lookup_realm = false
{% if use_dns | bool %}
	dns_lookup_kdc = true
{% else %}
	dns_lookup_kdc = false
{% endif %}
{% if forwardable is defined %}
	forwardable = {{ forwardable }}
{% endif %}
{% if not use_dns | bool %}

[realms]
	{{ kerberos_realm }} = {
		kdc = {{ kdc_server }}.{{ kerberos_dns_domain | default(kerberos_realm | lower) }}
		admin_server = {{ admin_server }}.{{ kerberos_dns_domain | default(kerberos_realm | lower) }}
{% if master_kdc_server is defined and not use_dns | bool %}
		master-kdc = {{ master_kdc_server }}
{% endif %}
	}
{% endif %}

[domain_realm]
	.{{ kerberos_dns_domain | default(kerberos_realm | lower) }} = {{ kerberos_realm }}
	{{ kerberos_dns_domain | default(kerberos_realm | lower) }} = {{ kerberos_realm }}
