#
# {{ ansible_managed }}
#
[libdefaults]
	default_realm = {{ kerberos_realm }}
	dns_lookup_realm = {{ dns_lookup_realm }}
	dns_lookup_kdc = {{ dns_lookup_kdc }}
{% if forwardable is defined %}
	forwardable = {{ forwardable }}
{% endif %}
{% if proxiable is defined %}
	proxiable = {{ proxiable }}
{% endif %}
{% if ticket_lifetime is defined %}
	ticket_lifetime = {{ ticket_lifetime }}
{% endif %}
{% if renew_lifetime is defined %}
	renew_lifetime = {{ renew_lifetime }}
{% endif %}
{% if clockslew is defined %}
	clockslew = {{ clockslew }}
{% endif %}
{% if default_keytab_name is defined %}
	default_keytab_name = {{ default_keytab_name }}
{% endif %}
{% if canonicalize is defined %}
	canonicalize = {{ canonicalize }}
{% endif %}

[realms]
	{{ kerberos_realm }} = {
{% if kdc_server is defined %}
{% for entry in kdc_server %}
		kdc = {{ entry }}.{{ kerberos_dns_domain | default(kerberos_realm | lower) }}
{% endfor %}
{% endif %}
		admin_server = {{ admin_server }}.{{ kerberos_dns_domain | default(kerberos_realm | lower) }}
{% if master_kdc_server is defined %}
		master-kdc = {{ master_kdc_server }}
{% endif %}
	}

[domain_realm]
	.{{ kerberos_dns_domain | default(kerberos_realm | lower) }} = {{ kerberos_realm }}
	{{ kerberos_dns_domain | default(kerberos_realm | lower) }} = {{ kerberos_realm }}
